body{
    width: 95%;
    margin: 15px auto;
    font-family: Arial, sans-serif;
    background-image: url('/images/NasaObs.webp');
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    border: 2px solid black;
    padding: 0;
}
nav{
    background-color: black;
    border-bottom: 3px solid black;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}
